body {
    background-color: Silver;
    text-align: center;
    padding:10px;
}

h1 {
    color: black;
    text-align: center;
    padding:10px;
}

h4 {
   color: black;
   text-align: center;
   padding:10px;
}
p {
    color:green;
    padding:10px;
    width: 100%;
    height: 100%;
    padding:50px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    padding:100px;
  }

table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}
